@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    overflow: hidden;
    
}
.cards-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.cards-deck{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: calc(100% - 20px);
}
.card{
    perspective: 1000px;
    height: 280px;
    width: auto;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-front,.card-back{
    background: #ff0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform .6s linear;
    box-shadow: 15px 15px 10px 0 #000;
    transform-style: preserve-3d;
    transform: rotateX(180deg);

}
  .card-front{
    transform:  rotateX(0deg);
}
/* .card-back{
    transform: rotateX(180deg);
}   */

.card:hover > .card-front{
    transform: rotateX(-180deg);
} 
.card:hover > .card-back{
    transform: rotateX(0deg);
}
  
button{
    padding: 10px;
    margin: 5px;
    font-size: 18px;
    cursor: pointer;
}
.small{
    font-size: 12px;
}
#close{
    outline: none;
    border: none;
    background: transparent;
}
.delete-all{
    position: absolute;
    bottom: 30px;
    left: 30px;
}