@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
*{
    box-sizing: border-box;
}
:root{
    --primary-color:rgb(60, 103, 245);
}
body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        0deg,
        rgba(175,175,175,0.6)18%,
        rgb(87, 0, 248)92%
    );
    font-family: 'lato',sans-serif;
    padding: 10px;
}
.music-player-container{
    border-radius: 15px;
    max-width: 100%;
    background-color: var(--primary-color);
    display: flex;
    padding: 10px 30px;
    z-index: 10;
    position: relative;
    box-shadow: 0 20px 20px 0 rgb(6, 34, 196);
    margin: 100px;
}
.music-player-container .album-art {
    width: 130px;
    position: relative;
}

.music-player-container .album-art img{
    border-radius: 50%;
    position: absolute;
    height: 110px;
    bottom: 0;
    left: 0;
    animation: rotate 3s linear infinite;
    animation-play-state: paused;
}
.music-player-container.play .album-art  img{
    animation-play-state: running;
}


.navigation{
    display: flex;
}
.action-btn{
    padding: 20px;
    border: none;
    color: #ffffff;
    font-size: 18px;
    background-color: var(--primary-color);
    cursor: pointer;
}
#play{
    font-size: 28px;
}
.action-btn:focus{
    outline: none;
}
.music-info{
    position: absolute;
    top: 0;
    left: 20px;
    background-color: rgba(81, 144, 240, 0.8);
    width: calc(100% - 40px);
    padding: 5px 5px 10px 40px;
    display: flex;
    align-items: center;
    border-radius: 15px 15px 0 0;
    z-index: -1;
    opacity: 0;
    transform: translateY(0%);
    transition: transform 0.3s ease-in-out;
}
.music-player-container.play .music-info{
    transform: translateY(-100%);
    opacity: 1;
    transition: transform 0.3s ease;
    z-index: 0;
}
.progress-container{
    background-color: #ffffff;
    width: inherit;
    height: 4px;
    margin: 10px ;
    border-radius: 5px;
    cursor: pointer;
}
.progress{
    background-color: #ff0011;
    border-radius: 5px;
    height: 100%;
    width: 00%;
}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}